body {
	margin: 0 auto;
	width: 70%;
}

/* two panels: one for numbers table and one for buttons */
div#panels{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
}

/* logo and text next to each other */
div#header {
	display: flex;
}

/* nav buttons shouldn't bump version out of the lines */
p#save, p#saved, p#reset {
	display: inline;
}

/* center header text */
#header h1{
	margin: auto;
}

/* buttons on top of each other */
div#actions {
	display: flex;
    	flex-direction: column;
}

/* shrink logo */
img#logo {
	width: 100px;
	height: 100px;
}

/* red title */
h1#title {
	color: red;
}


/* some flair for the numbers table */
#numbers table {
	border: 1px solid black;
	width: 10em;
	min-width: 20em;
}

th {
	border-bottom: 1px solid black;
}

/* align the second column (numbers) to the right */
td:nth-child(2) {
	text-align: right;
}

/* make sure the buttons are sufficiently wide */
#actions button {
	min-width: 30em;
}

/* less space between the horizontal rule lines under the header */
hr {
	margin: 4px 0px;
}

/* gray, italicized version tag on thr right between the horizontal rule lines */
p#version {
	font-style: italic;
	margin: 0;
	color: gray;
	text-align: right;
	display: inline-flex;
	float: right;
}

/* give the bonus section some space */
div#bonus {
	margin: 1em;
}

/* info for bonus section */
#bonus p {
	display: inline;
	text-align: right;
}

/* give some flair to the boost bar */
div#boost {
	border: 1px solid black;
	padding: 2px;
}

/* bigger bar = more progress */
#boost progress {
	width: 20em;
}

/* game nav should fit nicely */
div#nav p {
	margin: 0;
}

/* gambling output area */
textarea#gambling_outcomes, textarea#msgs {
	/* outline: 2px solid #e83d2a; */
	resize: none;
	width: 100%;
	height: 20em;
	border: none;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	padding: 2px;
	border: 1px solid #008F11;
	background: black;
	color: #008F11;

}

/* source for .game_output color scheme
 * https://www.schemecolor.com/matrix-code-green.php
 */
textarea#msgs::-webkit-scrollbar,
textarea#gambling_outcomes::-webkit-scrollbar {
	background-color: #003B00;
}

textarea#msgs::-webkit-scrollbar,
textarea#gambling_outcomes::-webkit-scrollbar-button {
	background-color: #00FF41;
}

textarea#msgs::-webkit-scrollbar,
textarea#gambling_outcomes::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea#msgs::-webkit-scrollbar,
textarea#gambling_outcomes::-webkit-scrollbar-thumb {
	background-color: #00FF41;
	outline: 1px solid black;
}

